body {
 background-color: aquamarine;
text-align: center;
}
.reindeer{
height: 200px;
width: 200px;
}
.mountain{
height: 200px;
width: 200px;
}
.noob{
height: 200px;
width: 200px;
}
.span1{
display:inline-block;
margin: 20px;
}
.span2{
    display: inline-block;
    margin: 20px;
}